@model StudentSuccessPrediction.Models.PreboardMarkViewModel

<h1>Preboard Mark Details</h1>

<div>
    <h4>Student Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
    </dl>
</div>

<div>
    <h4>Subjects and Marks</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Subject Name</th>
                <th>Marks Obtained</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subject in Model.Subjects)
            {
                <tr>
                    <td>@subject.SubjectName</td>
                    <td>@subject.MarkObtained</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
